{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>Todo list</h1>
    <ul>
        <li>Paramètrer le firewall pour être automatiquement redirigé</li>
        <li>Créer la table user avec les champs adéquats (username, email, password, salt, enabled)</li>
        <li>Effectuer les migrations adéquates</li>
    </ul>
{% endblock %}